{% extends 'BookingManager/parent.html' %}

{% load customtags %}

{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'BookingManager/booking.css' %}">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script>
         $(document).ready(function(){
            if (isClubBooking()) {
                document.getElementById("adult_form").style.display = "none";
                document.getElementById("child_form").style.display = "none";
                document.getElementById("student_tick_quantity").value = 10;
                calculateAmount();
            } else if (isCustomerBooking()) {
               // document.getElementById("student_form").style.display = "none";
            }
        });

         jQuery(document).ready(($) => {
            $('.quantity').on('click', '.plus', function(e) {
                let $input = $(this).prev('input.qty');
                let val = parseInt($input.val());
                $input.val( val+1 ).change();
            });

            $('.quantity').on('click', '.minus',
                function(e) {
                let $input = $(this).next('input.qty');
                var val = parseInt($input.val());
                if (val > (isClubBooking() ? 10 : 0)) {
                    $input.val( val-1 ).change();
                }
            });
        });

        function calculateAmount() {
            var total_price = document.getElementById("total_price");
            var child_cost = document.getElementById("child_tick_quantity").value * "{{child_ticket.price}}"
            var adult_cost = document.getElementById("adult_tick_quantity").value * "{{adult_ticket.price}}"
            var student_cost = document.getElementById("student_tick_quantity").value * "{{student_ticket.price}}"
            var discount = "{{discount}}";

            document.getElementById("child_total").innerHTML = "£" + child_cost.toFixed(2)
            document.getElementById("adult_total").innerHTML = "£" + adult_cost.toFixed(2)
            document.getElementById("student_total").innerHTML = "£" + student_cost.toFixed(2)

            var price_string = "£" + getFinalPrice();

            if (parseInt(discount) > 0) {
                price_string += " (" + discount + "% off!)"
            }

            total_price.innerHTML = price_string;
        }

        function showOverlay() {
            var adult_total = parseInt(document.getElementById("adult_tick_quantity").value);
            var child_total = parseInt(document.getElementById("child_tick_quantity").value);
            var student_total = parseInt(document.getElementById("student_tick_quantity").value);

            if (adult_total == 0 && child_total == 0 && student_total == 0) {
                showError('You must book at least one seat!');
                return;
            }

            var remaining_seats = "{{showing.screen.capacity}}" - "{{showing.seats_taken}}"

            if ((adult_total + child_total + student_total) > remaining_seats) {
                showError("There are not enough seats available for this many tickets!");
                return;
            }

            if (adult_total > 0) {
                document.getElementById("final_adult").innerHTML = "Adult Tickets: " + adult_total + "x";
            }

            if (child_total > 0) {
                document.getElementById("final_child").innerHTML = "Child Tickets: " + child_total + "x";
            }

            if (student_total > 0) {
                document.getElementById("final_student").innerHTML = "Student Tickets: " + student_total + "x";
            }

            document.getElementById("final_total").innerHTML = "Total Cost: " + document.getElementById("total_price").innerHTML;

            var credits = parseInt({{profile.credits}});
            if (credits > 0 && ("{{club}}" == "None")) {
                var final_price = getFinalPrice();
                var consumed_credit = Math.min(credits, final_price);
                document.getElementById("final_credits").innerHTML = "Will use £" + consumed_credit + " of credit.";
                document.getElementById("final_cost").innerHTML = "Final Total: £" + (final_price - consumed_credit).toFixed(2);
            }

            var overlay = document.getElementById("main_overlay");
            overlay.style.display = "block";
        }

        function getFinalPrice() {
            var total_price = document.getElementById("total_price");
            var child_cost = document.getElementById("child_tick_quantity").value * "{{child_ticket.price}}"
            var adult_cost = document.getElementById("adult_tick_quantity").value * "{{adult_ticket.price}}"
            var student_cost = document.getElementById("student_tick_quantity").value * "{{student_ticket.price}}"

            var discount = "{{discount}}";
            return ((child_cost + adult_cost + student_cost) * (1 - (discount / 100))).toFixed(2);
        }

        function hideOverlay() {
            var overlay = document.getElementById("main_overlay");
            overlay.style.display = "none";
        }

        function isClubBooking() {
            return "{{club}}" !== "None";
        }

        function isCustomerBooking() {
            return "{{request.user}}" == "AnonymousUser";
        }
    </script>
</head>

<div class="top-section">

    <img class="images" src="/{{film.image}}" alt="{{film.title}}">

    <div class="vertical">

        <div class="film-info">
            <h1>{{film.title}} ({{film.age_rating}})</h1>
            <h6>Runtime: {{film.duration}} mins</h6>
            <p>{{film.description}}</p>
        </div>

        <br>
        <hr>

        <div class="horizontal">
            <div class="film-info">
                {% if request.user|has_group:"ClubRepresentative" %}
                <h1>Club Booking</h1>
                <h5>{{club.name}} Club</h5>
                {% else %}
                <h1>Film Booking</h1>

                {% if profile.credits > 0 %}
                <p>Your UWEFlix Credit: £{{profile.credits}}</p>
                {% endif %}
                {% endif %}

                <p>Your Discount: {{discount}}%</p>
            </div>

            <div class="film-info">
                <h1>{{showing.screen}}</h1>
                <p>{{showing.time}}</p>
                <p>Remaining Seats: {{remaining_seats}}</p>
            </div>
        </div>
    </div>

    <div class="vertical">

        <div class="tickets">
            <h2>Select Tickets</h2>

            <br>

            <form id='booking_form' method='POST' class='quantity' action='#' enctype="multipart/form-data">
                {% csrf_token %}

                <!--Adult ticket selection-->

                <div id="adult_form" class="ticket-select">
                    <div class="item">
                        <h3>Adult</h3>
                    </div>

                    <div class="item">
                        <p id="adult_total">£0.00</p>
                    </div>

                    <div class="item">
                        <input type='button' value='-' class='qtyminus minus'/>

                        <input type='text' name='adult_quantity' value='0' class="qty"
                               id="adult_tick_quantity"
                               onchange="calculateAmount()"/>

                        <input type='button' value='+' class='qtyplus plus'/>
                    </div>
                </div>

                <hr>

                <!--Child ticket selection-->

                <div id="child_form" class="ticket-select">
                    <div class="item">
                        <h3>Child</h3>
                    </div>

                    <div class="item">
                        <p id="child_total">£0.00</p>
                    </div>

                    <div class="item">
                        <input type='button' value='-' class='qtyminus minus'/>

                        <input type='text' name='child_quantity' value='0' class="qty"
                               id="child_tick_quantity"
                               onchange="calculateAmount()"/>

                        <input type='button' value='+' class='qtyplus plus'/>
                    </div>
                </div>

                <hr>

                <!--Student ticket selection-->

                <div id="student_form" class="ticket-select">
                    <div class="item">
                        <h3>Student</h3>
                    </div>

                    <div class="item">
                        <p id="student_total">£0.00</p>
                    </div>

                    <div class="item">
                        <input type='button' value='-' class='qtyminus minus'/>

                        <input type='text' name='student_quantity' value='0' class="qty"
                               id="student_tick_quantity"
                               onchange="calculateAmount()"/>

                        <input type='button' value='+' class='qtyplus plus'/>
                    </div>
                </div>

                <br>
                <br>

                <div class="item">
                    <h3>Total:</h3>
                    <p id="total_price">£0.00</p>
                </div>

            </form>

            <br>

            <div class="horizontal">
                <button class="button" onclick="showOverlay()"><h2>Make Booking</h2></button>
            </div>
        </div>
    </div>
</div>

<!--Confirmation overlay-->

<div id="main_overlay" class="overlay">

    <div class="overlay-content">
        <span class="close" onclick="hideOverlay()">&times;</span>
        <h1>Finalise Booking</h1>

        <div class="vertical">

            <div class="horizontal">
                <div class="vertical">
                    <h2>{{film.title}} ({{film.age_rating}})</h2>
                    <h5>Runtime: {{film.duration}} mins</h5>
                </div>
            </div>

            <div class="horizontal">
                <div class="vertical">

                    <div class="vertical">
                        <p id="final_adult"></p>
                        <p id="final_child"></p>
                        <p id="final_student"></p>
                    </div>

                    <br>
                    <hr>

                    <div class="overlay-data">
                        <div class="center-text">
                            <h4 id="final_total"></h4>
                        </div>

                        <div class="center-text">
                            <h4 id="final_credits"></h4>
                        </div>

                        <div class="center-text">
                            <u><h3 id="final_cost"></h3></u>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <br>

        <div class="horizontal">
            <button class="button" onclick="hideOverlay()"><h2>Cancel</h2></button>
            <button class="button" form="booking_form"><h2>Confirm Booking</h2></button>
        </div>
    </div>

</div>

{% endblock %}