{% extends 'BookingManager/parent.html' %}

{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'BookingManager/confirmation.css' %}">

<div class="horizontal">
    <div class="horizontal half">
        <div class="vertical">
            <div class="horizontal">
                <h1>Booking Confirmed!</h1>
            </div>

            <br>

            <p>Your booking details have been sent to your email!</p>

            <div>
                <h3>Email: {{booking.user_email}}</h3>
                <h3>Tickets: {{booking.ticket_count}}</h3>
                <h3>Cost: £{{booking.total_price}}</h3>
                <h3>Time: {{booking.date}}</h3>
                <h3>Screen: {{booking.showing.screen}}</h3>

                <br>

                <h3>Film: {{booking.showing.film}} ({{booking.showing.film.age_rating}})</h3>
                <h5>Duration: {{booking.showing.film.duration}} mins</h5>
                <p>{{booking.showing.film.description}}</p>

                <br>

                <div class="horizontal">
                    {% if booking.pending_cancel %}
                    <h1>This booking is pending cancellation!</h1>
                    {% else %}
                    <button class="button" onclick="window.location.href='/booking/cancel_booking/{{booking.id}}'"><h2>
                        Cancel Booking</h2>
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}