* {
    font-family: NunitoSans, Helvetica, Arial, sans-serif;
}

hr {
    border: none;
    border-top: 1px solid white;
    width: 75%;
    height: 1px;
}

body {
    background-image: url('/Assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
}

.main {
    font-size: 25px;
    padding: 70px;
    display: flex;
    flex-direction: column;
}

.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    background-color: black;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.alert {
    text-align: center;
    display: none;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    background-color: #f44336;
    border-radius: 10px;
    color: white;
}

.success {
    text-align: center;
    display: none;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    background-color: #35A41A;
    border-radius: 10px;
    color: white;
}

.horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}