.slider-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 970px;
    height: 480px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.slides {
    width: 500%;
    height: 480px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 970px;
    height: 480px;
}

.navigation-manual {
    position: absolute;
    width: 970px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #04AA6D;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #04AA6D;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 970px;
    justify-content: center;
    margin-top: 430px;
}

.navigation-auto div {
    border: 2px solid #04AA6D;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #04AA6D;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #04AA6D;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #04AA6D;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #04AA6D;
}