{% extends 'AccountManager/parent.html' %}

{% block page %}

<div>
    <h2>Current Users</h2>

    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Club</th>
            <th>Date Of Birth</th>
            <th>Credits</th>
            <th>Discount</th>
            <th>Pending Discount</th>
            <th> - </th>
        </tr>
        {% for user in users %}
            {% if user.is_active %}
                {% for profile in profiles %}
                    {% if profile.user_obj == user %}
                    <tr>
                        <td>{{user.email}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>{{profile.club}}</td>
                        <td>{{profile.date_of_birth}}</td>
                        <td>{{profile.credits}}</td>
                        <td>{{profile.discount}}%</td>
                        <td>{{profile.applied_discount}}%</td>
                        <td><a href="/accounts/update_user/{{user.id}}">View Details</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
</div>

{% endblock %}