{% extends 'AccountManager/parent.html' %}

{% load widget_tweaks %}
{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'UWEFlix/form.css' %}">

<style>
    .thin {
        width: 29%;
        margin-left: 5px;
    }

    .side-panel {
        width: 60%;
        margin-left: 100px;
    }

</style>

<div class="horizontal">
    <div class="form-body" style="height: 670px;">
        <p class="title" align="center">{{user.first_name}} {{user.last_name}}'s Profile</p>

        <hr>

        <div class="parent-div">
            <form id="update" method="POST" enctype="multipart/form-data" align="center">
                {% csrf_token %}

                ✍ {{user_form.email|add_class:"text-field thin"|attr:"placeholder:Email" }}
                {{user_form.username|add_class:"text-field thin"|attr:"placeholder:Username" }}

                <br>💳 {{user_form.first_name|add_class:"text-field thin"|attr:"placeholder:First Name" }}
                {{user_form.last_name|add_class:"text-field thin"|attr:"placeholder:Last Name" }}

                <br>📅 {{profile_form.club|add_class:"text-field thin"|attr:"placeholder:Club" }}
                {{profile_form.date_of_birth|add_class:"text-field thin"|attr:"placeholder:Date of Birth" }}

                <br>💵 {{profile_form.credits|add_class:"text-field thin"|attr:"placeholder:Credits" }}
                {{profile_form.discount|add_class:"text-field thin"|attr:"placeholder:Discount" }}

                <br> Is Active: {{user_form.is_active }}

                <br>
            </form>

            <div class="horizontal">
                <button class="button narrow-btn" onclick="window.location.href='/accounts/'"><h2>Back</h2></button>
                <button class="button narrow-btn" form="update"><h2>Update</h2></button>
                <button class="button narrow-btn" onclick="window.location.href='/accounts/delete_user/{{user.id}}'">
                    <h2>Delete</h2></button>
            </div>
        </div>
    </div>

    <div class="side-panel">
        <h2>Account Statements</h2>

        <table class="styled-table">
            <thead>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Total Transactions</th>
                <th></th>
            </tr>
            </thead>
            {% for statement in statements %}
            <tbody>
            <tr>
                <td>{{statement.year}}</td>
                <td>{{statement.month}}</td>
                <td>{{statement.transactions|length}}</td>
                <td class="edit-column"><a class="redirect"
                                           href="/accounts/view_statement/{{user.email}}:{{statement.year}}:{{statement.month}}">View</a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}