{% extends 'AccountManager/parent.html' %}

{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'AccountManager/statement.css' %}">

<div>
    <div class="horizontal">
        <h1>Account Statement for {{email}}</h1>
    </div>

    <div class="horizontal">
        <h3 style="padding: 0; margin: 0;">{{period}}</h3>
    </div>

    <br>
    <hr>
    <br>

    <table class="styled-table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Origin</th>
            <th>Transaction Type</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
        </thead>
        {% for transaction in transactions %}
        <tbody>
        <tr>
            <td>{{transaction.user_email}}</td>
            <td>{{transaction.origin}}</td>
            <td>{{transaction.type}}</td>
            <td>£{{transaction.amount|floatformat:2}}</td>
            <td>{{transaction.date}}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

<br>
<hr>
<br>

<div class="horizontal">
    <button class="button" onclick="window.location.href='/accounts/download_statement/{{email}}:{{year}}:{{month}}'">
        Download Statement
    </button>
</div>

{% endblock %}