{% extends 'ClubManager/parent.html' %}

{% load widget_tweaks %}
{% block page %}

<h1>Register</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{user_form.first_name.label}}
    {{user_form.first_name}}
    <br>
    {{user_form.last_name.label}}
    {{user_form.last_name}}
    <br>
    {{user_form.email.label}}
    {{user_form.email}}
    <br>
    {{user_form.password1.label}}
    {{user_form.password1}}
    <br>
    {{user_form.password2.label}}
    {{user_form.password2}}
    <br>
    {{club_rep_form.date_of_birth.label}}
    {{club_rep_form.date_of_birth}}
    <br>
    {{club_rep_form.credits.label}}
    {{club_rep_form.credits}}
    <br>
    {% render_field club_rep_form.club.as_hidden%}
    <br>
    <button class="button">Send for approval</button>
</form>

{{form.errors}}

{% endblock %}