{% extends 'ClubManager/parent.html' %}

{% load widget_tweaks %}
{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'UWEFlix/form.css' %}">

<style>
    .thin {
        width: 29%;
        margin-left: 5px;
    }
</style>

<div class="horizontal">
    <div class="form-body" style="height: 720px;">
        <p class="title" align="center">Add {{club.name}} Representative</p>

        <hr>

        <div class="parent-div">
            <form id="update" method="POST" enctype="multipart/form-data" align="center">
                {% csrf_token %}

                ✍ {{user_form.first_name|add_class:"text-field thin"|attr:"placeholder:First Name" }}
                {{user_form.last_name|add_class:"text-field thin"|attr:"placeholder:Last Name" }}
                <br>📧 {{user_form.email|add_class:"text-field"|attr:"placeholder:Email" }}
                <br>🔒 {{user_form.password1|add_class:"text-field thin"|attr:"placeholder:Password" }}
                {{user_form.password2|add_class:"text-field thin"|attr:"placeholder:Confirm Password" }}
                <br>📅 {{club_rep_form.date_of_birth|add_class:"text-field"|attr:"placeholder:Date of Birth" }}
                <br>💵 {{club_rep_form.credits|add_class:"text-field"|attr:"placeholder:Initial Credit" }}

                <br>

                <div class="horizontal">
                    <button class="button back" onclick="window.location.href='/clubs/view_clubs/'"><h2>Back</h2></button>
                    <button class="button"><h2>Create User</h2></button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}