{% extends 'ClubManager/parent.html' %}

{% block page %}

<h1>Register</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{user_form.first_name.label}}
    {{user_form.first_name}}
    <br>
    {{user_form.last_name.label}}
    {{user_form.last_name}}
    <br>
    {{user_form.username.label}}
    {{user_form.username}}
    <br>
    {{user_form.email.label}}
    {{user_form.email}}
    <br>
    {{user_form.password1.label}}
    {{user_form.password1}}
    <br>
    {{user_form.password2.label}}
    {{user_form.password2}}
    <br>
    {{club_rep_form.dob.label}}
    {{club_rep_form.dob}}
    <br>
    {{club_rep_form.credit.label}}
    {{club_rep_form.credit}}
    <br>
    <label>Club</label>
    {{club_rep_form.clubID}}
    <br>
    <button class="button">Send for approval</button>
</form>

{{form.errors}}

{% endblock %}