{% extends 'ClubManager/parent.html' %}

{% load widget_tweaks %}
{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'UWEFlix/form.css' %}">

<style>
    .thin {
        width: 29%;
        margin-left: 5px;
    }
</style>

<div class="horizontal">
    <div class="form-body" style="height: 780px;">
        <p class="title" align="center">Create Club</p>

        <hr>

        <div class="parent-div">
            <form method="POST" enctype="multipart/form-data" align="center">
                {% csrf_token %}

                ✍ {{club_form.name|add_class:"text-field"|attr:"placeholder:Club Name" }}
                <br>📧 {{club_form.email|add_class:"text-field"|attr:"placeholder:Club Email" }}

                <br>📺 {{club_form.street_number|add_class:"text-field thin"|attr:"placeholder:Street Number" }}
                {{club_form.street_name|add_class:"text-field thin"|attr:"placeholder:Street Name" }}
                <br>🏠 {{club_form.city|add_class:"text-field thin"|attr:"placeholder:City" }}
                {{club_form.postcode|add_class:"text-field thin"|attr:"placeholder:Postcode" }}

                <br>📞 {{club_form.landline|add_class:"text-field thin"|attr:"placeholder:Landline #" }}
                {{club_form.mobile|add_class:"text-field thin"|attr:"placeholder:Mobile #" }}

                <br>🔽 {{club_form.discount|add_class:"text-field"|attr:"placeholder:Discount %" }}

                <br>

                <div class="horizontal">
                    <button class="button back" onclick="window.location.href='/clubs/view_clubs/'"><h2>Back</h2></button>
                    <button class="button"><h2>Submit</h2></button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}