{% extends 'UWEFlix/parent.html' %}

{% block page %}

{% if error %}

{% if top_up_credits is True%}
<div style="display:inline-block; margin:auto; text-align: center;">
    <h3>Available credits: £ {{available_credits}}</h3> 
    <h3>Amount to settle: £ {{total_transactions_price}}</h3>
</div>
<br>
<div style="margin:auto;">
    <input type="submit" class="button" onclick="window.location.href='/clubs/top_up_credits/{{club_rep_id}}';"value="Top up credits"/>
</div>
{% endif %}
{% else %}
<h1>Verify Rep Number</h1>
<br>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="username">Rep ID</label>
    <input type="text" id="username" name="username" required/>
    {% if version == 2 %}
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required/>
    <button class="button">Settle Account</button>
    {% else %}
    <button class="button">View Transactions</button>
    {% endif %}
</form>
{% endif %}
{% endblock %}