{% extends 'CinemaManager/parent.html' %}

{% load widget_tweaks %}
{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'UWEFlix/form.css' %}">

<style>
    .thin {
        width: 29%;
        margin-left: 5px;
    }
</style>

<div class="horizontal">
    <div class="form-body" style="height: 600px;">
        <p class="title" align="center">Update {{club_rep.club.name}} Representative</p>

        <hr>

        <div class="parent-div">
            <form id="update" method="POST" enctype="multipart/form-data" align="center">
                {% csrf_token %}

                ✍ {{form.club|add_class:"text-field"|attr:"placeholder:Club" }}
                <br>📅 {{form.date_of_birth|add_class:"text-field"|attr:"placeholder:Date of Birth" }}
                <br>💵 {{form.credits|add_class:"text-field"|attr:"placeholder:Initial Credit" }}

                <br>
            </form>

            <div class="horizontal">
                <button class="button back" onclick="window.location.href='/clubs/view_clubs/'"><h2>Back</h2>
                </button>
                <button class="button" form="update"><h2>Update</h2></button>
                <button class="button" onclick="window.location.href='/clubs/delete_rep/{{club_rep.id}}'"><h2>
                    Delete</h2>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}