{% extends 'CinemaManager/parent.html' %}

{% load widget_tweaks %}
{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'UWEFlix/form.css' %}">

<style>
    .thin {
        width: 29%;
        margin-left: 5px;
    }
</style>

<div class="horizontal">
    <div class="form-body" style="height: 780px;">
        <p class="title" align="center">Update: {{club.name}}</p>

        <hr>

        <div class="parent-div">
            <form id="update" method="POST" enctype="multipart/form-data" align="center">
                {% csrf_token %}

                ✍ {{form.name|add_class:"text-field"|attr:"placeholder:Club Name" }}
                <br>📧 {{form.email|add_class:"text-field"|attr:"placeholder:Club Email" }}

                <br>📺 {{form.street_number|add_class:"text-field thin"|attr:"placeholder:Street Number" }}
                {{form.street_name|add_class:"text-field thin"|attr:"placeholder:Street Name" }}
                <br>🏠 {{form.city|add_class:"text-field thin"|attr:"placeholder:City" }}
                {{form.postcode|add_class:"text-field thin"|attr:"placeholder:Postcode" }}

                <br>📞 {{form.landline|add_class:"text-field thin"|attr:"placeholder:Landline #" }}
                {{form.mobile|add_class:"text-field thin"|attr:"placeholder:Mobile #" }}

                <br>🔽 {{form.discount|add_class:"text-field"|attr:"placeholder:Discount %" }}

                <br>
            </form>

            <div class="horizontal">
                <button class="button narrow-btn" onclick="window.location.href='/clubs/view_clubs/'"><h2>Back</h2>
                </button>
                <button class="button narrow-btn" form="update"><h2>Update</h2></button>
                <button class="button narrow-btn" onclick="window.location.href='/clubs/delete_club/{{club.id}}'">
                    <h2>Delete</h2>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}