{% extends 'ClubManager/parent.html' %}

{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'ClubManager/clubs.css' %}">

<div class="horizontal">
    <h1>Manage Clubs</h1>
</div>

<h2>All Clubs</h2>

<table class="styled-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Landline</th>
        <th>Mobile</th>
        <th>Discount</th>
        <th>Email</th>
        <th>Club Rep</th>
        <th>Edit</th>
    </tr>
    </thead>

    {% for club in clubs_no_rep %}
    <tbody>
    <tr>
        <td>{{club.id}}</td>
        <td>{{club.name}}</td>
        <td>{{club.street_number}} {{club.street_name}}, {{club.city}} {{club.postcode}}</td>
        <td>{{club.landline}}</td>
        <td>{{club.mobile}}</td>
        <td>{{club.discount}}%</td>
        <td>{{club.email}}</td>
        <td><input type="submit" class="button small" onclick="window.location.href='/clubs/add_rep/{{club.id}}';"
                   value="Create Rep"/></td>
        <td><a href="/clubs/update_club/{{club.id}}">Modify</a></td>
    </tr>
    </tbody>
    {% endfor %}

    {% for club in clubs %}
    {% for rep in club_reps %}
    {% if rep.club_id == club.id %}
    <tbody>
    <tr>
        <td>{{club.id}}</td>
        <td>{{club.name}}</td>
        <td>{{club.street_number}} {{club.street_name}}, {{club.city}} {{club.postcode}}</td>
        <td>{{club.landline}}</td>
        <td>{{club.mobile}}</td>
        <td>{{club.discount}}%</td>
        <td>{{club.email}}</td>
        <td>{{rep.user_obj.username}}</td>
        <td><a href="/clubs/update_club/{{club.id}}">Modify</a></td>
    </tr>
    </tbody>
    {% endif %}
    {% endfor %}
    {% endfor %}

</table>

<br>

<div class="horizontal">
    <input type="submit" class="button" onclick="window.location.href='/clubs/add_club/'"
           value="Add Club"/>
</div>

<br>
<hr>
<br>

<h2>All Representatives</h2>

<table class="styled-table">
    <thead>
    <tr>
        <th>Rep ID</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>DOB</th>
        <th>Club Name</th>
        <th>Credit Count</th>
        <th>Edit</th>
    </tr>
    </thead>
    {% for rep in club_reps %}
    <tbody>
    <tr>
        <td>{{rep.id}}</td>
        <td>{{rep.user_obj.first_name}}</td>
        <td>{{rep.user_obj.last_name}}</td>
        <td>{{rep.date_of_birth}}</td>
        <td>{{rep.club}}</td>
        <td>{{rep.credits}}</td>
        <td><a href="/clubs/update_rep/{{rep.id}}">Modify</a></td>
    </tr>
    </tbody>
    {% endfor %}
</table>

<br>
<hr>
<br>

{% endblock %}