{% extends 'ClubManager/parent.html' %}

{% block page %}


<h1>Manage Club Reps</h1>

<hr class="solid">

<div>

    {% if request.user.is_anonymous %}

    <h2>No Permissions</h2>

    {% else %}

    <h2>All Club Reps</h2>

    <table style="width:100%">
        <tr>
            <th>Rep ID</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>DOB</th>
            <th>Club Name</th>
            <th>Credit Count</th>
            <th>Edit</th>
        </tr>
        {% for rep in club_reps %}
        <tr>
            <td>{{rep.id}}</td>
            <td>{{rep.user_obj.first_name}}</td>
            <td>{{rep.user_obj.last_name}}</td>
            <td>{{rep.date_of_birth}}</td>
            <td>{{rep.club}}</td>
            <td>{{rep.credits}}</td>
            <td><a href="/clubs/update_rep/{{rep.id}}">Modify</a></td>
        </tr>
        {% endfor %}
    </table>
</div>


<hr class="solid">

{% endif %}

{% endblock %}