{% extends 'ClubManager/parent.html' %}

{% block page %}


<h1>Manage Club Reps</h1>

<hr class="solid">

<div>

    {% if request.user.is_anonymous %}

    <h2>No Permissions</h2>

    {% else %}

    <h2>All Club Reps</h2>

    <table style="width:100%">
        <tr>
            <th>Rep ID</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>DOB</th>
            <th>Club Name</th>
            <th>Credit Count</th>
            <th>Edit</th>
        </tr>
        {% for clubreps in club_reps %}
        <tr>
            <td>{{clubreps.id}}</td>
            <td>{{clubreps.user_obj.first_name}}</td>
            <td>{{clubreps.user_obj.last_name}}</td>
            <td>{{clubreps.date_of_birth}}</td>
            <td>{{clubreps.club}}</td>
            <td>{{clubreps.credits}}</td>
            <td><a href="/clubs/update_rep/{{clubreps.id}}">Modify</a></td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <!-- <input type="submit" class="button" onclick="window.location.href='/clubs/add_rep/'" value="Add Club Reps"/> -->
</div>


<hr class="solid">

{% endif %}

{% endblock %}