{% extends 'ClubManager/parent.html' %}

{% block page %}


<h1>Manage Clubs</h1>

<hr class="solid">

<div>

    {% if request.user.is_anonymous %}

    <h2>No Permissions</h2>

    {% else %}

    <h2>All clubs</h2>

    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Street Number</th>
            <th>Street Name</th>
            <th>City</th>
            <th>Postcode</th>
            <th>Landline</th>
            <th>Mobile</th>
            <th>Discount</th>
            <th>Email</th>
            <th>Club Rep ID</th>
            <th>Edit</th>
            <th>Add</th>
        </tr>

        {% for club in clubs_with_no_club_reps %}
        <tr>
            <td>{{club.id}}</td>
            <td>{{club.name}}</td>
            <td>{{club.street_number}}</td>
            <td>{{club.street_name}}</td>
            <td>{{club.city}}</td>
            <td>{{club.postcode}}</td>
            <td>{{club.landline}}</td>
            <td>{{club.mobile}}</td>
            <td>{{club.discount}}%</td>
            <td>{{club.email}}</td>
            <td>None</td>
            <td><a href="/clubs/update_club/{{club.id}}">Modify</a></td>
            <td><input type="submit" class="button" onclick="window.location.href='/clubs/add_rep/{{club.id}}';" value="Add a club rep"/></td>
            {% endfor %}
        </tr>
        {% for club in clubs %}
            {% for clubt in club_reps %}
            {% if clubt.club_id == club.id %}
        <tr>
            <td>{{club.id}}</td>
            <td>{{club.name}}</td>
            <td>{{club.street_number}}</td>
            <td>{{club.street_name}}</td>
            <td>{{club.city}}</td>
            <td>{{club.postcode}}</td>
            <td>{{club.landline}}</td>
            <td>{{club.mobile}}</td>
            <td>{{club.discount}}%</td>
            <td>{{club.email}}</td>
            <td>{{clubt.clubID_id}}</td>
            <td><a href="/clubs/update_club/{{club.id}}">Modify</a></td>
            <td>Already allocated</td>
        </tr>
        {% endif %}
            {% endfor %}
        {% endfor %}

    </table>

    <br>

    <input type="submit" class="button" onclick="window.location.href='/clubs/add_club/'" value="Add Club"/>
</div>


<hr class="solid">

{% endif %}

{% endblock %}