{% extends 'UWEFlix/parent.html' %}

{% block page %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script>
         jQuery(document).ready(($) => {
        $('.quantity').on('click', '.plus', function(e) {
            let $input = $(this).prev('input.qty');
            let val = parseInt($input.val());
            $input.val( val+1 ).change();
        });

        $('.quantity').on('click', '.minus',
            function(e) {
            let $input = $(this).next('input.qty');
            var val = parseInt($input.val());
            if (val > 0) {
                $input.val( val-1 ).change();
            }
        });
    });

            function calculateAmountChild(val){
                var total = val * 4.99;
                var child_tick_quantity=document.getElementById("childtotal");
                console.log(total)
                child_tick_quantity.value =total.toFixed(2);

                var totalPrice=document.getElementById("totalPrice");
                var adult_tick_quantitys=document.getElementById("adulttotal");
                console.log(total)
                totalPrice.value = parseFloat(adult_tick_quantitys.value) + parseFloat(child_tick_quantity.value)
                totalPrice.value = parseFloat(totalPrice.value).toFixed(2)
            }

            function calculateAmountAdult(val){
                var total = val * 6.99;
                var adult_tick_quantitys=document.getElementById("adulttotal");
                console.log(total)
                adult_tick_quantitys.value =total.toFixed(2);

                var totalPrice=document.getElementById("totalPrice");
                var child_tick_quantity=document.getElementById("childtotal");
                console.log(total)
                totalPrice.value = parseFloat(adult_tick_quantitys.value) + parseFloat(child_tick_quantity.value) 
                totalPrice.value = parseFloat(totalPrice.value).toFixed(2)           
            }

    </script>

    <style>
    #myform {
        text-align: center;
        padding: 5px;
        border: 1px dotted #ccc;
        margin: 2%;
    }

    .qty {
        width: 40px;
        height: 25px;
        text-align: center;
    }

    input.qtyplus { width:25px; height:25px;}
    input.qtyminus { width:25px; height:25px;}

    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 10px;
    }

    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }

    </style>
</head>

<h1>{{film.title}}</h1>
<h1>{{showing.screen}}</h1>


{% if request.user.is_anonymous %}
<div class="grid-container">
<form id='myform' method='POST' class='quantity' action='#' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="grid-item">
        <h3>Adult</h3>
    </div>
        <div class="grid-item">
        <input type='button' value='-' class='qtyminus minus' field='quantity' />
        <input type='text' name='adult_quantity' value='0' class='qty' id="adult_tick_quantity" onchange="calculateAmountAdult(this.value)"/>
        <input type='button' value='+' class='qtyplus plus' field='quantity' />
        £
        <input type="text" id="adulttotal" readonly class="individual_totals" value="0">
    </div>
<br>

<div class="grid-item">
    <h3>Child</h3>
</div>

    <div class="grid-item">
        <input type='button' value='-' class='qtyminus minus' field='quantity' />
        <input type='text' name='child_quantity' value='0' class='qty' id="child_tick_quantity" onchange="calculateAmountChild(this.value)"/>
        <input type='button' value='+' class='qtyplus plus' field='quantity' />
        £
        <input type="text" id="childtotal" readonly class="individual_totals" value="0">
    </div>
<br>

<h3>Total</h3>
<input type="text" id="totalPrice" readonly class="individual_totals" value="0">
<div class="grid-item">
<input type="email" name = "user_email">
</div>
<button class="button" form="myform">Submit</button>
</form>

</div>

{% else %}

<div class="grid-container">
    <div class="grid-item">
        <h3>Student</h3>
    </div>

    <form id='myform1' method='POST' class='quantity' action='#' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid-item">
            <input type='button' value='-' class='qtyminus minus' field='quantity'/>
            <input type='text' name='student_quantity' id="student_tick_quantity" onchange="calculateAmountChild(this.value)" value='0' class='qty'/>
            <input type='button' value='+' class='qtyplus plus' field='quantity'/>

            £ <input type="text" id="childtotal" readonly class="individual_totals" value="0">
        </div>
        <button class="button" form="myform1">Submit</button>
    </form>
</div>

{% endif %}

{% endblock %}