{% extends 'UWEFlix/parent.html' %}

{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'UWEFlix/showing.css' %}">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script>
        function changePeriod(period) {

        }

    </script>
</head>

<div class="vertical">
    <div class="horizontal">
        <div class="film-details">
            <img class="images" src="/{{film.image}}" alt="{{film.title}}">

            <div class="combination">
                <iframe src="{{film.trailer}}" title="{{film.title}} Trailer"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                <div class="film-info">
                    <h1>{{film.title}} ({{film.age_rating}})</h1>
                    <h6>Runtime: {{film.duration}} mins</h6>
                    <p>{{film.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="horizontal">
            <h2>Buy Tickets for {{film.title}}</h2>
        </div>

        <div class="date-options">
            <a href="javascript:void(0)" onclick="changePeriod('all')">
                <div class="date-option" id="all" style="background-color: #04AA6D;">
                    <h5>All Films</h5>
                </div>
            </a>
            <a href="javascript:void(0)" onclick="changePeriod('today')">
                <div class="date-option" id="today">
                    <h5>Today</h5>
                </div>
            </a>
            <a href="javascript:void(0)" onclick="changePeriod('monday')">
                <div class="date-option" id="monday">
                    <h5>Monday</h5>
                </div>
            </a>
            <a href="javascript:void(0)" onclick="changePeriod('tuesday')">
                <div class="date-option" id="tuesday">
                    <h5>Tuesday</h5>
                </div>
            </a>
            <a href="javascript:void(0)" onclick="changePeriod('wednesday')">
                <div class="date-option" id="wednesday">
                    <h5>Wednesday</h5>
                </div>
            </a>
            <a href="javascript:void(0)" onclick="changePeriod('thursday')">
                <div class="date-option" id="thursday">
                    <h5>Thursday</h5>
                </div>
            </a>
            <a href="javascript:void(0)" onclick="changePeriod('friday')">
                <div class="date-option" id="friday">
                    <h5>Friday</h5>
                </div>
            </a>
            <a href="javascript:void(0)" onclick="changePeriod('saturday')">
                <div class="date-option" id="saturday">
                    <h5>Saturday</h5>
                </div>
            </a>
            <a href="javascript:void(0)" onclick="changePeriod('sunday')">
                <div class="date-option" id="sunday">
                    <h5>Sunday</h5>
                </div>
            </a>
        </div>

        <div class="horizontal">
            <div class="thin">
                {% for date in dates %}
                <hr>
                <div class="horizontal" id="{{date}}">
                    <div class="horizontal" style="width: 50%;">
                        <h5 class="date">{{date}}</h5>
                    </div>

                    <div class="showings" style="width: 50%;">
                        {% for showing in showings %}
                        {% if showing.time|date:"l d/m/y" == date %}
                        <a href="/booking/book_film/{{film.id}}:{{showing.id}}">
                            <div class="showing">
                                <h6 class="times">{{showing.time|date:"H:i"}}</h6>
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <br>
    <br>

</div>

<br>

{% endblock %}