{% extends 'UWEFlix/parent.html' %}

{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'UWEFlix/showing.css' %}">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script type="text/javascript">
        previous = "all";

        $(document).ready( function() {
            const weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];

            const date = new Date();
            const currentWeekdayIndex = (date.getDay() + 6) % 7;

            // Loop through weekdays and hide elements with IDs up to and including the current day
            for (let i = 0; i < weekdays.length; i++) {
                const weekday = weekdays[i];

                if (i <= currentWeekdayIndex) {
                    document.getElementById(weekday).style.display = 'none';
                } else {
                    document.getElementById(weekday + "2").style.display = 'none';
                }
            }
        });

        function changePeriod(period) {
            if (period == window.previous) {
                return;
            }

            const element = document.getElementById(period);
            const previous = document.getElementById(window.previous);

            element.classList.add('selected');
            previous.classList.remove('selected');

            window.previous = period;

            updateVisibility(period);
        }

        function updateVisibility(period) {
            const list = "{{dates}}";
            let arr = list.replace(/['\[\]']/g, '').replace(/&#x27;/g, "").split(', ');

            if (period == 'all') {
                arr.forEach(function(date) {
                    const element = document.getElementById(date);
                    if (element) element.classList.remove("hidden");
                });
                return;
            }

            const date = new Date();
            const nextWeek = period.includes('2');
            let formatted = formatDate(date);

            if (period != 'today') {
                for (let i = 0; i < 7; i++) {
                    const check = new Date(date);

                    const value = i + (nextWeek ? 7 : 0);
                    check.setDate(date.getDate() + value);

                    if (getWeekday(check) == period.replace("2", "")) {
                        formatted = formatDate(check);
                        break;
                    }
                }
            }

            let value = "no";

            for (let i = 0; i < arr.length; i++) {
                const date = arr[i];
                const element = document.getElementById(date);

                if (element) {
                    if (formatted == date) {
                        element.classList.remove("hidden");
                    } else {
                        element.classList.add("hidden");
                    }
                }
            }

            document.getElementById('debug').innerHTML = typeof formatted + " - val=" + value + " - " + arr[0] + " - " + formatted;
        }

        function formatDate(date) {
          const weekday = getWeekday(date);
          const day = date.getDate().toString().padStart(2, '0');
          const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-based, so add 1
          const year = date.getFullYear().toString().slice(2);

          return `${weekday} ${day}/${month}/${year}`;
        }

        function getWeekday(date) {
            const weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            return weekdays[date.getDay()];
        }
    </script>
</head>

<div class="vertical">
    <div class="horizontal">
        <div class="film-details">
            <img class="images" src="/{{film.image}}" alt="{{film.title}}">

            <div class="combination">
                <iframe src="{{film.trailer}}" title="{{film.title}} Trailer"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                <div class="film-info">
                    <h1>{{film.title}} ({{film.age_rating}})</h1>
                    <h6>Runtime: {{film.duration}} mins</h6>
                    <p>{{film.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="horizontal">
        <h2>Buy Tickets for {{film.title}}</h2>
    </div>

    <div class="date-options">
        <a href="javascript:void(0)" onclick="changePeriod('all')">
            <div class="date-option selected" id="all">
                <h5>All Showings</h5>
            </div>
        </a>

        <a href="javascript:void(0)" onclick="changePeriod('today')">
            <div class="date-option" id="today">
                <h5>Today</h5>
            </div>
        </a>

        {% for weekday in weekdays %}
        <a href="javascript:void(0)" onclick="changePeriod('{{weekday}}')">
            <div class="date-option" id="{{weekday}}">
                <h5>{{weekday}}</h5>
            </div>
        </a>
        {% endfor %}

        {% for weekday in weekdays %}
        <a href="javascript:void(0)" onclick="changePeriod('{{weekday}}2')">
            <div class="date-option" id="{{weekday}}2">
                <h5>{{weekday}}</h5>
            </div>
        </a>
        {% endfor %}

    </div>

    <div class="horizontal">
        <div class="thin">
            {% for date in dates %}
            <div id="{{date}}-section">
                <hr>
                <div class="horizontal" id="{{date}}">
                    <div class="horizontal" style="width: 50%;">
                        <h5 class="date">{{date}}</h5>
                    </div>

                    <div class="showings" style="width: 50%;">
                        {% for showing in showings %}
                        {% if showing.time|date:"l d/m/y" == date %}
                        <a href="/booking/book_film/{{film.id}}:{{showing.id}}">
                            <div class="showing">
                                <h6 class="times">{{showing.time|date:"H:i"}}</h6>
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <br>
    <br>

</div>

<br>

{% endblock %}