{% extends 'UWEFlix/parent.html' %}
{% block home_active %} class="active" {% endblock %}
{% load static %}
{% block page %}

<style>
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: #243447;
      border-radius: 15px;
      padding: 10px;
      width: 50%;
      margin: auto;
      justify-content: center;
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      border-radius: 15px;

      padding: 20px;
      font-size: 30px;
      text-align: center;
    }

    .images{
        width: 80%;
        height: 70%;
        margin: 10px;
    }

    .headers{
        margin-top: 5px;
    }
</style>

<div class="grid-container">
    <div class="grid-item">
        <img class = "images" src="{% static 'UWEFlix/images/Avatar2022.png' %}" alt="Avatar: The Way of Water">
        <h6 class = "headers">Avatar: The Way of Water</h6>
    
      </div>
      <div class="grid-item">
        <img class = "images" src="{% static 'UWEFlix/images/Avengers.jpg' %}" alt="Avatar: The Way of Water">
        <h6 class = "headers">Avengers: Endgame</h6>
    
      </div>
      <div class="grid-item">
        <img class = "images" src="{% static 'UWEFlix/images/Spider-Man.jpg' %}" alt="Avatar: The Way of Water">
        <h6 class = "headers">Spider-Man: No Way Home</h6>
    
      </div>  
      <div class="grid-item">
        <img class = "images" src="{% static 'UWEFlix/images/NewBlackPanther.jpg' %}" alt="Avatar: The Way of Water">
        <h6 class = "headers">Black Panther: Wakanda Forever</h6>
      </div>
      
      <div class="grid-item">
        <img class = "images" src="{% static 'UWEFlix/images/NewJurassicWorld.jpg' %}" alt="Avatar: The Way of Water">
        <h6 class = "headers">Jurassic World: Dominion</h6>
      </div>
      
      <div class="grid-item">
        <img class = "images" src="{% static 'UWEFlix/images/NewTopGun.jpg' %}" alt="Avatar: The Way of Water">
        <h6 class = "headers">Top Gun: Maverick</h6>
      </div>  
</div>

{% endblock %}