{% extends 'UWEFlix/parent.html' %}

{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'UWEFlix/home.css' %}">
<link rel="stylesheet" href="{% static 'UWEFlix/slideshow.css' %}">

<script type="text/javascript">
    var counter = 2;

    setInterval(function() {
        document.getElementById('radio' + counter).checked = true;
        counter++;
        if (counter > 4) {
            counter = 1;
        }
    }, 5000);

</script>

<div class="slider-body">
    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1" checked>
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">

            <div class="slide first">
                <img src="/Assets/1.jpg" alt=""/>
            </div>
            <div class="slide">
                <img src="/Assets/2.jpg" alt=""/>
            </div>
            <div class="slide">
                <img src="/Assets/3.jpg" alt=""/>
            </div>
            <div class="slide">
                <img src="/Assets/4.jpg" alt=""/>
            </div>

            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>
        </div>

        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
    </div>
</div>

<br>
<br>
<br>

<h3 class="headers">
    NOW SHOWING
</h3>

<br>
<br>

<div class="film-body">
    <div class="films">
        {% for film in films %}

        <div class="film">
            <a href="/view_film/{{film.id}}">
                <img class="images" src="http://127.0.0.1:8080/Assets/{{film.image}}" alt="{{film.title}}">
                <h6 class="headers">{{film.title}}</h6>
            </a>
        </div>

        {% endfor %}


    </div>
</div>

<br>
<br>

{% endblock %}