{% extends 'UWEFlix/parent.html' %}

{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'UWEFlix/login.css' %}">



<div class="horizontal">


    <div class="login-body">

        <p class="sign" align="center">Sign in</p>

        {% for message in messages %}
        <div style = "color:white;"class="message text-center alert alert-info {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}

        <hr>

        <form method="POST" enctype="multipart/form-data" class="login-form" align="center">
            {% csrf_token %}
            <input class="text-field" type="text" id="username" name="username" align="center" placeholder="Username">
            <input class="text-field" type="password" id="password" name="password" align="center" placeholder="Password"
                   required>

            <div class="horizontal">
                <button class="button"><h2>Login</h2></button>
            </div>

            <a href="{% url 'Register' %}"><p class="no-account" align="center">Don't have an account?</p></a>
        </form>
    </div>
</div>

{% endblock %}