{% extends 'UWEFlix/parent.html' %}

{% block page %}

<h1>Login</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required/>

    <br>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required/>

    <br>

    <button class="button">Login</button>
</form>

{% if error %}
    {{error}}
{% endif %}

<p>Don't have an account? <a href="{% url 'Register' %}">Sign Up</a></p>

{% endblock %}