{% extends 'UWEFlix/parent.html' %}
{% block login_active %} class="active" {% endblock %}

{% block page %}

<style>
    .div{
        text-align: center;
        background-color:#243447;
        border-radius: 20px;
        width: 50%;
        margin: auto;
    }

    .form{
        float: center;
    }
    
    .headers {
      padding-top: 20px;
      text-align: center;
      color: white;
      font-family: Tahoma;
    }

    .text {
        text-align: center;
        color: white;
        font-family: Tahoma;
    }
    
    .hyperlinks{
        color: white;
    }

</style>

<div>
    <div class="div">
        <h1 class="headers">Login</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label class="text" for="username">Email/Username</label>
            <br>
            <input type="text" id="username" name="username" required/>
            <br>
            <label class="text"for="password">Password</label>
            <br>
            <input type="password" id="password" name="password" required/>
            <br>
            <button class="button">Login</button>
        </form>

        {% if error %}
            {{error}}
        {% endif %}

        <p class="text">Don't have an account? <a href="{% url 'Register' %}" class="hyperlinks">Register</a></p>
        <br>
    </div>
</div>


{% endblock %}