<!DOCTYPE html>
<html lang="en">
{% load userfilter %}
{% load static %}
<link rel="stylesheet" href="{% static 'UWEFlix/main.css' %}">

<head>
    <meta charset="UTF-8">
    <title>UWEFlix</title>
</head>

<body>

<div class="top_bar">
    {% if request.user.is_anonymous %}
    <h1>
        <a href="/">Home</a> - <a href="{% url 'Login' %}">Login</a> -
        {% elif request.user|has_group:"CinemaManager"%}
        <h1><a href="/">Home</a> - Hello, {{request.user.get_short_name}} <a href="{% url 'Logout' %}">Logout</a> -<a href="{% url 'Dashboard' %}">Manage</a></h1>
        {% else %}
        <h1><a href="/">Home</a> - Hello, {{request.user.get_short_name}} <a href="{% url 'Logout' %}">Logout</a></h1>
        {% endif %}
    </h1>
</div>

<div class="main">
    {% block page %}

    {% endblock %}

</div>

<div class="foot">
    <p>Footer</p>
</div>

</body>

</html>