{% extends 'UWEFlix/parent.html' %}

{% load customtags %}
{% block page %}

<h1>My Profile</h1>

<div>
    <h3>Your Details</h3>

    <p>Name: {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Date of Birth: {{profile.date_of_birth}}</p>
    <p>Total Credit: £{{profile.credits|floatformat:2}}</p>
    {% if request.user|has_group:"ClubRepresentative" %}
    <input type="submit"  name="TopUp" class="button" onclick="window.location.href='/booking/purchase_credits/top_up';" value="Top Up Credits"/>
    {% endif %}
</div>

<br>

<div>
    <h3>My Bookings</h3>

    <table style="width:100%">
        <tr>
            <th>Showing</th>
            <th>Date</th>
            <th>Total Price</th>
            <th>Ticket Count</th>
            <th>View</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{booking.showing.film}}</td>
            <td>{{booking.date}}</td>
            <td>£{{booking.total_price}}</td>
            <td>{{booking.ticket_count}}</td>
            <td><a href="/booking/confirmation/{{booking.id}}:{{booking.unique_key}}">View</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<br>

<div>
    {% if request.user|has_group:"Student" %}
    {%if profile.applied_for_rep is True %}
    <h3>Application to become a club rep has been sent</h3>
    {% else %}
    <h3>Apply to become a club rep</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Apply to become a club rep:</label>
        {{club_rep_form.club}}
        <button class="submit" name="ClubRepForm" value="ClubRepForm">Submit</button>
    </form>
    {% endif %}
    {% endif %}
</div>

<br>

<div>
    <h3>Discounts</h3>

    <p>Current Discount Rate: {{profile.discount}}%</p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="discount">Apply for Discount:</label>
        <input type="number" id="discount" name="discount" required/>

        <button class="button" name="Discount" value="Discount">Submit</button>
    </form>

    {% if profile.applied_discount > 0 %}

    <p>Discount application status: Waiting on approval ({{profile.applied_discount}}%)</p>

    {% else %}

    <p>Discount application status: Not Applied</p>

    {% endif %}
</div>

<br>

{% endblock %}