{% extends 'UWEFlix/parent.html' %}

{% load widget_tweaks %}
{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'UWEFlix/login.css' %}">

<div class="horizontal">
    <div class="login-body" style=" height: 820px;">

        <p class="sign" align="center">Register</p>

        <hr>

        <form method="POST" enctype="multipart/form-data" class="login-form" align="center">
            {% csrf_token %}

            {{ form.first_name|add_class:"text-field"|attr:"placeholder:First Name" }}
            {{form.last_name|add_class:"text-field"|attr:"placeholder:Surname" }}
            {{form.email|add_class:"text-field"|attr:"placeholder:Email" }}
            {{form.password1|add_class:"text-field"|attr:"placeholder:Password" }}
            {{form.password2|add_class:"text-field"|attr:"placeholder:Confirm Password" }}
            <br>

            <div class="horizontal">
                <button class="button"><h2>Register</h2></button>
            </div>

            <a href="{% url 'Login' %}"><p class="no-account" align="center">Already have an account?</p></a>
        </form>
    </div>
</div>

{% endblock %}