{% extends 'CinemaManager/parent.html' %}

{% load widget_tweaks %}
{% block page %}
{% load static %}

<link rel="stylesheet" href="{% static 'UWEFlix/form.css' %}">

<div class="horizontal">
    <div class="form-body" style="height: 450px;">
        <p class="title" align="center">Add Screen</p>

        <hr>

        <div class="parent-div">
            <form method="POST" enctype="multipart/form-data" align="center">
                {% csrf_token %}

                📊 {{form.capacity|add_class:"text-field"|attr:"placeholder:Screen Capacity" }}

                <br>

                <div class="horizontal">
                    <button class="button back" onclick="window.location.href='/manager/'"><h2>Back</h2></button>
                    <button class="button"><h2>Submit</h2></button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}