{% extends 'CinemaManager/parent.html' %}

{% block page %}

<h1>Update: {{showing.time}}</h1>

<hr class="solid">

<div class="container">
    <form id="update" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.as_p}}
    </form>
</div>

<br>

<div>
    <button class="button" form="update">Update</button>
    <button class="button" onclick="window.location.href='/account/CinemaManager/delete_showing/{{showing.id}}'">Delete Showing</button>
</div>

{% endblock %}