{% extends 'ClubManager/parent.html' %}

{% block page %}


<h1>Approve Students</h1>

<div>

    <h2>All Unapproved Students </h2>

    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Email</th>
            <th>Approve</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.username}}</td>
            <td>{{student.email}}</td>
            <td><a href="/manager/approve_student/{{student.id}}">Approve</a></td>
        </tr>
        {% endfor %}
    </table>

    <br>
</div>


{% endblock %}