{% extends 'CinemaManager/parent.html' %}

{% block page %}


<h1>Approve Club Reps Applications</h1>

<div>

    <h2>All Unapproved Applications</h2>

    <table style="width:100%">
        <tr>
            <th>User</th>
            <th>Club</th>
            <th>Approve</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.user_obj}}</td>
            <td>{{user.club}}</td>
            <td><a href="/manager/approve_club_rep_application/{{user.user_obj.id}}:1">Approve</a> / <a href="/manager/approve_club_rep_application/{{user.user_obj.id}}:0">Reject</a></td>
        </tr>
        {% endfor %}
    </table>

    <br>
</div>

{% endblock %}